<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%=@method%></p>
<img src = http://www.hercampus.com/sites/default/files/styles/full_width_embed/public/2015/04/08/Screen%20Shot%202015-04-08%20at%203.19.13%20PM.png?itok=PLyG22nT>